.dialog {
  padding: 1rem;

  & > div {
    width: min(100%, 400px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    svg {
      width: 60px;
      height: 60px;
      margin-inline: auto;
      color: var(--p-color);
    }

    p {
      text-align: center;
    }
  }
}
