.colors_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.color_card {
  div {
    width: 100px;
    height: 40px;

    border-radius: 8px;
    border: 1px solid $neutral;
  }
}

.mode {
  @include flex($dir: column, $align: flex-start, $gap: inherit);

  padding: 25px;
  border-radius: 25px;

  border: 1px solid $neutral;

  &[data-theme="dark"] {
    background: $neutral-900;
    color: $neutral-100;
  }

  &[data-theme="light"] {
    background: $neutral-100;
    color: $neutral-900;
  }
}
