.header {
  color: $neutral-100;
  padding-inline: var(--content-space-inline);
  height: var(--header-height);

  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 2rem;

  background: linear-gradient(0deg, rgb(var(--primary)), rgb(14, 72, 222));

  z-index: $zindex-sticky;

  .logo a {
    color: $neutral-100;
    text-decoration: none;
    font-size: $fs-l;
    font-weight: $fw-bold;
  }

  .links {
    flex: 1;

    @include mobile {
      opacity: 0;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include tablet-and-desktop {
      & > button:last-of-type {
        display: none;
      }
    }

    @include mobile {
      & > span {
        display: none;
      }
    }
  }

  & > *:not(.logo) a {
    color: $neutral-400;
    text-decoration: none;

    &:hover,
    &[aria-current="page"] {
      color: $neutral-100;
    }
  }

  ul {
    list-style-type: none;
  }
}

.content {
  display: flex;
  align-items: stretch;

  height: calc(100vh - var(--header-height));

  & > * {
    padding-block: 3rem;
    overflow: auto;
  }
}

.sidebar {
  @include tablet-and-desktop {
    padding-inline: var(--content-space-inline)
      calc(var(--content-space-inline) / 2);
  }

  @include mobile {
    position: absolute;
    transition: left $normal-transition;

    left: -100%;

    &[aria-expanded="true"] {
      left: 0;
    }

    overflow: auto;
    max-height: calc(100vh - var(--header-height));

    background-color: $s-neutral-bg;
    box-shadow: 0 0 100px rgba(var(--s-neutral-600), 0.1);

    h2,
    ul {
      padding-inline: 2rem;
    }
  }

  ul {
    list-style-type: none;
    margin-block: 0.5rem 1rem;

    a {
      color: $neutral;
      text-decoration: none;
      padding: 0.25rem 0.75rem;
      border-radius: 8px;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover,
      &[aria-current="page"] {
        color: $s-neutral-text;
      }

      svg {
        color: inherit;
      }
    }
  }
}

.main {
  @include tablet-and-desktop {
    padding-inline: 10rem var(--content-space-inline);
  }

  @include mobile {
    padding-inline: var(--content-space-inline);
  }

  flex: 1;
  display: flex;

  flex-direction: column;
  gap: 2rem;

  footer {
    display: flex;
    gap: 2rem;

    div {
      width: calc(50% - 1rem);
    }

    & > a {
      width: calc(50% - 1rem);
      padding: 1rem 1.5rem;
      border-radius: $border-radius-lg;
      box-shadow: 0 0 2px $neutral-200;

      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      cursor: pointer;

      text-decoration: none;

      span {
        color: $s-neutral-text;
      }

      b {
        color: $primary;
        text-decoration: underline;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        svg {
          width: 12px;
        }
      }

      &:hover {
        box-shadow: 0 0 4px $primary;
      }

      &[aria-label="next"] {
        align-items: flex-end;

        svg {
          rotate: 180deg;
        }
      }
    }
  }
}
