.iconButton {
  svg {
    width: 50%;
    height: 50%;
  }

  &[data-size="sm"] {
    width: 30px;
    height: 30px;
  }

  &[data-size="md"] {
    width: 40px;
    height: 40px;
  }

  &[data-size="lg"] {
    width: 50px;
    height: 50px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: no-drop;
  }

  &:not([data-square="true"]) {
    border-radius: 50%;
  }

  &[data-square="true"] {
    border-radius: $border-radius-sm;
  }

  &:not([data-link]),
  &[data-link]:hover {
    background-color: rgb(var(--p-accent), 0.67);
    color: var(--p-text-accent, var(--p-accent));
  }

  &[data-link]:not(:hover) {
    color: $s-neutral-text;
  }

  aspect-ratio: 1;
  @include flex;

  &:focus-visible {
    background-color: rgb(var(--p-accent));
    @include shadow(rgba(var(--p-accent), 0.6));
  }
}
