@mixin spacing() {
  .m-auto {
    margin: auto;
  }

  .my-auto {
    margin-top: auto;
  }

  .mx-auto {
    margin-inline: auto;
  }

  .p-auto {
    padding: auto;
  }

  .py-auto {
    padding-top: auto;
  }

  .px-auto {
    padding-inline: auto;
  }

  @for $i from 1 through 25 {
    .m-#{$i * 2} {
      margin: #{($i * 2)}px;
    }

    .mt-#{$i * 2} {
      margin-top: #{($i * 2)}px;
    }

    .me-#{$i * 2} {
      margin-inline-end: #{($i * 2)}px;
    }

    .mb-#{$i * 2} {
      margin-bottom: #{($i * 2)}px;
    }

    .ms-#{$i * 2} {
      margin-inline-start: #{($i * 2)}px;
    }

    .mx-#{$i * 2} {
      margin-inline: #{($i * 2)}px;
    }

    .my-#{$i * 2} {
      margin-block: #{($i * 2)}px;
    }

    .p-#{$i * 2} {
      padding: #{($i * 2)}px;
    }

    .pt-#{$i * 2} {
      padding-top: #{($i * 2)}px;
    }

    .pe-#{$i * 2} {
      padding-inline-end: #{($i * 2)}px;
    }

    .pb-#{$i * 2} {
      padding-bottom: #{($i * 2)}px;
    }

    .ps-#{$i * 2} {
      padding-inline-start: #{($i * 2)}px;
    }

    .px-#{$i * 2} {
      padding-inline: #{($i * 2)}px;
    }

    .py-#{$i * 2} {
      padding-block: #{($i * 2)}px;
    }
  }
}
